 
<div class="design-form">

    <h2><i class="far fa-object-ungroup"></i> diseña</h2>
  
    <form>
      <input type="radio" id="colorPalette1" name="palette" value="greenColour">
      <label for="colorPalette1">greenColour</label><br>
      <input type="radio" id="colorPalette2" name="palette" value="redColour">
      <label for="colorPalette2">redColour</label><br>
      <input type="radio" id="colorPalette3" name="palette" value="gygColour">
      <label for="colorPalette3">gygColour</label>
    </form>
  
  </div>