<button type="button" class="panel__coll btn-share"><i class="fas fa-share-alt"></i>Comparte</button>
<div class="panel__content display__none">
  <button disabled type="button" class="panel__coll--child btn-create" id="createCardButton" ><i class="far fa-address-card"></i>Crear
    tarjeta</button>
    <span class="error-message errorEmail">* Faltan campos por completar *</span>
  <div class="panel__content2 hidden">
    <p>La tarjeta ha sido creada:</p>

    <button type="button" class="btn-twit"><i class="fab fa-twitter"></i>Compartir en Twitter</button>
  </div>
  <!-- <div class="btn-create"><i class="far fa-address-card"></i><a href="#">Crear tarjeta</a></div> -->
</div>
