<button type="button" class="panel__coll font__form btn-fill"><i class="far fa-keyboard"></i>Rellena</button>
<div class="panel__content display__none" id="form__fill">
  <div class="fill-form">

    <form class="fill" id="myForm" action="/signup" method="post">

      <label for="name">Nombre Completo<span class="required">*</span></label>
      <input placeholder="Ej: Sally Jill" id="name" type="text" name="name" class="input-required input" required />

      <label for="job">Puesto<span class="required">*</span></label>
      <input placeholder="Ej: Front-end unicorn" id="job" type="text" name="job" class="input-required input"
        required />


      <label for="fillButton">Imagen de Perfil<span class="required">*</span></label>
      <button id="fillButton" type="button" class="button__hover--styles">Añadir imagen</button>
      <input type="file" name="photo" id="img-selector" class="hidden-field input-required" required>
      <div id="empty-box" class="empty-box"></div>

      <button id="cameraButton" class="button__hover--styles">¡Hazte una foto!</button>

      <!—Aquí el video embebido de la webcam -->
        <div class="video-wrap hiddenCamera">
          <video id="video" playsinline autoplay controls muted></video>
        </div>
        <!—Botón de captura -->
          <div class="controller hiddenCamera">
            <button id="snap" class="button__hover--styles">Capture</button>
          </div>


          <label for="email">Email<span class="required">*</span></label>
          <input placeholder="Ej: sally-hill@gmail.com" id="email" class="input_icon input-required input" type="email"
            name="email" required />

          <label for="phone">Teléfono</label>
          <input placeholder="Ej: 555-55-55-55" id="phone" class="input_icon input" type="tel" name="phone" />

          <label for="linkedin">Linkedin<span class="required">*</span></label>
          <input placeholder="Ej: linkedin.com/in/sally.hill" id="linkedin" class="input_icon input-required input"
            type="text" name="linkedin" required />

          <label for="github">Github<span class="required">*</span></label>
          <input placeholder="Ej: @sally-hill" id="github" class="input_icon input-required input" type="text"
            name="github" required />

    </form>
  </div>
</div>
