<button type="button" class="panel__coll btn-design"><i class="far fa-object-ungroup"></i>Diseña</button>
<!--DEVELOPbr quita "active" de la clase -->
<div class="panel__content panel__content--design display__none" id="form__design">
  <!--DEVELOPbr pone "display__none" en la clase -->

  <div class="design-form-container">

    <div class="design-form-form">
      <h3>colores</h3>

      <div class="design-form-colours">
        <form id="myFormPalette">
          <div class="palette">
            <input type="radio" id="colorPalette1" name="palette" value="1" class="input-palette" checked>
            <label for="colorPalette1">
              <div class="palette-colour-container">
                <div class="palette-colour colorBox__1-1"></div>
                <div class="palette-colour colorBox__1-2"></div>
                <div class="palette-colour colorBox__1-3"></div>
              </div>
            </label>
          </div>

          <div class="palette">
            <input type="radio" id="colorPalette2" name="palette" value="2" class="input-palette">
            <label for="colorPalette2">
              <div class="palette-colour-container">
                <div class="palette-colour colorBox__2-1"></div>
                <div class="palette-colour colorBox__2-2"></div>
                <div class="palette-colour colorBox__2-3"></div>
              </div>
            </label>
          </div>

          <div class="palette">
            <input type="radio" id="colorPalette3" name="palette" value="3" class="input-palette">
            <label for="colorPalette3">
              <div class="palette-colour-container">
                <div class="palette-colour colorBox__3-1"></div>
                <div class="palette-colour colorBox__3-2"></div>
                <div class="palette-colour colorBox__3-3"></div>
              </div>
            </label>
          </div>

          <div class="palette">
            <input type="radio" id="colorPalette4" name="palette" value="4" class="input-palette">
            <label for="colorPalette4">
              <div class="palette-colour-container">
                <div class="palette-colour colorBox__4-1"></div>
                <div class="palette-colour colorBox__4-2"></div>
                <div class="palette-colour colorBox__4-3"></div>
              </div>
            </label>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
