<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@@title</title>

    <link href="https://fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet">
    <link rel="icon" href="./tarjetas-molonas-loop-colors-favicon.svg" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chewy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/main.css" />
    <script src="https://kit.fontawesome.com/cee649fe4c.js" crossorigin="anonymous"></script>
  </head>
