<div class="page__preview">
  <div class="preview__card--container">
    <button class="button_reset">
      <i class="far fa-trash-alt"></i>
      RESET
    </button>
    <div class="preview__card--box preview__card--box--palette1">
      <div class="preview__card--header">
        <h2 class="font__preview--title">Nombre Apellido</h2>
        <h3 class="font__preview--subtitle">Puesto</h3>
        <div class="preview__style--color"></div>
      </div>
      <div class="preview__card--picture"></div>
      <div class="preview__card--links">
        <button class="preview__card--icon hidden" id="preview__card--iconPhone">
          <i class="fas fa-mobile-alt "></i>
        </button>
        <button class="preview__card--icon preview__card--iconEnvelope hidden">
          <i class="far fa-envelope"></i>
        </button>
        <button class="preview__card--icon preview__card--iconLinkedin hidden">
          <i class="fab fa-linkedin-in"></i>
        </button>
        <button class="preview__card--icon preview__card--iconGitHub hidden">
          <i class="fab fa-github-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>

  <!-- <div class="preview__card--picture"></div>



  <div class="preview__card--links">

    <button class="preview__card--icon">
      <i class="fas fa-mobile-alt"></i>
    </button>
    <button class="preview__card--icon">
      <i class="far fa-envelope"></i>
    </button>
    <button class="preview__card--icon">
      <i class="fab fa-linkedin-in"></i>
    </button>
    <button class="preview__card--icon">
      <i class="fab fa-github-alt"></i>
    </button>

  </div> -->


<!-- </div> -->
<!-- </div> -->