<!DOCTYPE html>
<html lang="es">
<partial src="_head.html" label="Head" title="Awesome profile cards"></partial>

<body>
  <div class="page-home">

    <partial src="_header.html" label="Header"></partial>


    <main class="page__home--main container">

      <partial src="_preview.html" label="Preview"></partial>

      <div class="panel">
        <partial src="_form-design.html" label="Form-design"></partial>
        <partial src="_form-fill.html" label="Form-fill"></partial>
        <partial src="_form-share.html" label="Form-share"></partial>
      </div>

    </main>

    <partial src="_footer.html" label="Footer"></partial>

  </div>

  <script type="text/javascript" src="./assets/js/main.js"></script>
</body>

</html>
