<!DOCTYPE html>
<html lang="es">
<partial src="_head.html" label="Head" title="Awesome profile cards"></partial>

<body>
  <div class="page-home">
    <partial src="_header.html" label="Header"></partial>
    <main>
      <div>
        <partial src="_form-design.html" label="Form-design"></partial>
        <partial src="_form-fill.html" label="Form-fill"></partial>
        <partial src="_form-share.html" label="Form-share"></partial>
      </div>
      <div>
        <partial src="_preview.html" label="Preview"></partial>
      </div>
    </main>
    <partial src="_footer.html" label="Footer"></partial>
  </div>
</body>

</html>