<!DOCTYPE html>
<html lang="es">
<partial src="_head.html" label="Head" title="Awesome profile cards"></partial>

<body>
  <div class="page-index">

    <div>
      <img src="" alt="" title="0">
    </div>

    <div>
      <h1>crea tu tarjeta de visita</h1>
      <p>crea mejores contactos profesionales de forma fácil y cómoda</p>
    </div>

    <div>
      <ul>
        <li>diseña</li>
        <li>rellena</li>
        <li>comparte</li>
      </ul>
    </div>


    <a href=""></a>


  </div>





  <partial src="_footer.html" label="Footer"></partial>
</body>

</html>
