<!DOCTYPE html>
<html lang="es">
<partial src="_head.html" label="Head" title="Awesome profile cards"></partial>

<body>
  <div class="page-index">

    <div class="hero-container">
      <div class="logo__container">
        <img class="landing-logo" src="./assets/images/tarjetas-molonas.svg" alt="Awesome Profile Cards Logo"
          title="Awesome Profile-Cards">
        <!-- <div class="logo__loop">by 4loop</div> -->
      </div>

      <div class="landing-text">
        <h1>crea tu tarjeta de visita</h1>
        <p class="font__subtitle">crea mejores contactos profesionales de forma fácil y cómoda</>
      </div>


      <ul class="landing-options">
        <li class="landing-options-item" id="item__home--design">
          <i class="landing-options-icon far fa-object-ungroup"></i>
          <p class="landing-options-text font__icons">diseña</p>
        </li>

        <li class="landing-options-item" id="item__home--fill">
          <i class="landing-options-icon far fa-keyboard"></i>
          <p class="landing-options-text font__icons">rellena</p>
        </li>

        <li class="landing-options-item" id="item__home--share">
          <i class="landing-options-icon fas fa-share-alt"></i>
          <p class="landing-options-text font__icons">comparte</p>
        </li>
      </ul>

      <a class="landing-start" href="home.html" title="Comenzar">comenzar</a>

    </div>

    <partial src="_footer.html" label="Footer"></partial>

  </div>
  </div>

  <script type="text/javascript" src="./assets/js/main.js"></script>
</body>

</html>