<!DOCTYPE html>
<html lang="es">
<partial src="_head.html" label="Head" title="Awesome profile cards"></partial>

<body>
  <div class="page-index">

    <div>
      <img src="" alt="Awesome Profile Cards Logo" title="Awesome Profile-Cards">
    </div>

    <div class="landing-text">
      <h1>crea tu tarjeta de visita</h1>
      <p>crea mejores contactos profesionales de forma fácil y cómoda</p>
    </div>

    <div class="landing-options">
      <ul>
        <li>diseña</li>
        <li>rellena</li>
        <li>comparte</li>
      </ul>
    </div>


    <a href="home.html" title="">comenzar</a>





    <partial src="_footer.html" label="Footer"></partial>

  </div>
</body>

</html>
