.design-form {
    padding: 0 20px;
    font-family: $mainFont;

    h2 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
        color: #54585a;
        border-top: 1px solid #d8d8d8;
        padding-top: 10px;
        padding-bottom: 25px;
        
    }

    i {
        color: #e17334;
       
    }

}