.page__header {
  height: 150px;
  padding: 31px 0 0 40px;
  box-sizing: border-box;
}
.logo__container {
  width: 201px;
  position: relative;

  img {
    width: 100%;
  }

  .logo__4loop {
    position: absolute;
    right: 0px;
    font-family: monospace;
    font-size: 16px;
    width: 500px;
    padding-left: 50px;
  }
}