$dash-array: 260;
$stroke-width: 10;
$anim-speed: 2500ms;
$dark-theme: #1d1e22;
$light-theme: #ffffff;
$colors: #f38181, #fce38a, #e23e57, #95e1d3, #ffc4d0, #00dffc;

.page-content {
  display: flex;
  justify-content: space-between;
  transition: background-color 200ms;
  width: 89px;
  position: absolute;
  right: 0px;
}

.loop__container {
  position: absolute;
  left: 33px;
  top: -2px;
}

// Infinity elements
.infinity {
  height: 24px;

  path {
    fill: none;
    stroke-width: $stroke-width;
    transform-origin: 50% 50%;
  }
}

.infinity__outline {
  stroke: transparent;
  animation: hover $anim-speed * 4 linear infinite;
  transition: opacity 600ms;
}

.infinity__tracer {
  stroke-linecap: round;
  opacity: 0.8;
  animation: tracer $anim-speed linear reverse infinite;

  @each $c in $colors {
    $i: index($colors, $c);
    $s: ($anim-speed / $i * length($colors));
    $d: (-$anim-speed / $i * length($colors) * 0.66);

    &--#{$i} {
      stroke: $c;
      animation-duration: $s;
      animation-delay: $d;
    }
  }
}

// Animations
@keyframes tracer {
  0% {
    stroke-dasharray: 0, $dash-array;
    stroke-dashoffset: -$dash-array * 0.9;
  }
  25% {
    transform: translate(-2px, 2px);
  }
  50% {
    stroke-dasharray: $dash-array / 6, $dash-array;
    stroke-dashoffset: -$dash-array * 0.3;
  }
  65% {
    transform: translateX(2px, -2px);
  }
  100% {
    stroke-dasharray: 4, $dash-array;
    stroke-dashoffset: 0;
  }
}

@keyframes hover {
  50% {
    transform: translateY(2px) scale(1.02);
  }
}
