//ESTILOS DE ESTRUCTURA
.container {
  padding: 0px;
  margin: 0px;
  background: $colorBackgroundImage;

  @include forTablet {
    padding-top: 20px;
    padding-right: 40px;
  }
}

.page__home--main {
  @include forTablet {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
}

//ESTILOS DEL PREVIEW

.page__preview {
  padding-top: 38px;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  height: 540px;
  background-color: $colorIcons;

  .button_reset {
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 25px;
    background-color: transparent;
    width: 75px;
    height: 30px;
    font-family: $fontBody;
    font-size: 12px;
    color: white;
    outline: none;

    i {
      padding-right: 6px;
    }
  }

  .preview__card--box,
  .preview__card--box--palette1 {
    width: 240px;
    height: 329px;
    background-color: white;

    .preview__card--header {
      padding: 21px 0 10px 20px;
      position: relative;

      h2 {
        display: inline;
      }

      .preview__style--color {
        width: 5px;
        height: 42px;
        background-color: $colorPaletteOne2;
        position: absolute;
        left: 0px;
        top: 21px;
      }
    }

    .preview__card--picture {
      z-index: 20;
      height: 200px;

      background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/e8afef60261411.5a44784a9dcc3.gif);
      background-size: cover;
      background-position: center;
    }

    .preview__card--links {
      text-align: center;
      padding-top: 8px;

      .preview__card--icon {
        font-size: 18px;
        color: $colorLogo;
        border: 2px solid $colorPaletteOne3;
        border-radius: 50px;
        background-color: transparent;
        width: 32px;
        height: 32px;
        margin: 5px;
      }
    }
  }

  @include forTablet {
    width: 50vw;
    height: 768px;
    padding-top: 173px;
  }

  @include forPc {
    width: 60vw;
  }
}
.loop__background--preview {
  margin-top: 5px;
  text-align: center;
  img {
    width: 150px;
  }
}
.opacity {
  opacity: 0.3;
}
.hidden-icons {
  display: none;
}
.fixed {
  @include forTablet {
    position: fixed;
    top: 308px;
  }
}
.fixed__mobile {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 2;
  transform: scalez(0.9);
}

// Extraemos sólo las propiedades que van a cambiar con cada input, en este caso los colores de Title, Preview Style e Icons.

.page__preview {
  .preview__card--box--palette2 {
    .preview__card--header {
      h2 {
        color: $colorPaletteTwo1;
      }

      .preview__style--color {
        background-color: $colorPaletteTwo2;
      }
    }

    .preview__card--links {
      .preview__card--icon {
        border: 2px solid $colorPaletteTwo3;
        color: $colorPaletteTwo1;
      }
    }
  }

  .preview__card--box--palette3 {
    .preview__card--header {
      h2 {
        color: $colorPaletteThree1;
      }

      .preview__style--color {
        background-color: $colorPaletteThree2;
      }
    }

    .preview__card--links {
      .preview__card--icon {
        border: 2px solid $colorPaletteThree3;
        color: $colorPaletteThree1;
      }
    }
  }

  .preview__card--box--palette4 {
    .preview__card--header {
      h2 {
        color: $colorPaletteFour1;
      }

      .preview__style--color {
        background-color: $colorPaletteFour2;
      }
    }

    .preview__card--links {
      .preview__card--icon {
        border: 2px solid $colorPaletteFour3;
        color: $colorPaletteFour1;
      }
    }
  }
}
