.container {
  padding: 0px;
  margin: 0px;
  background: $colorBackgroundImage;

  @include forTablet {
    padding-top: 20px;
    padding-right: 40px;
  }
}

.page__home--main {
  @include forTablet {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    // background:$colorBackgroundImage
  }
}

.page__preview {
  background: linear-gradient(#bfcdd0, #dde9ed);
  padding: 10% 15%;

  .button_reset {
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 25px;
    background-color: transparent;
    width: 75px;
    height: 30px;
    font-family: $fontBody;
    font-size: 12px;
    color: $colorBody;

    i {
      padding-right: 6px;
    }
  }


  .preview__card--box,
  .preview__card--box--palette1 {
    width: 240px;
    height: 329px;
    background-color: white;
    // margin: 0px auto;
    .preview__card--header {
      padding: 21px 0 10px 20px;
      position: relative;

      h2 {
        display: inline;
      }

      .preview__style--color {
        width: 5px;
        height: 42px;
        background-color: $colorPaletteOne2;
        position: absolute;
        left: 0px;
        top: 21px;
      }
    }

    .preview__card--picture {
      z-index: 20;
      height: 200px;
      background: url(https://media.giphy.com/media/Jq8EtJlWaYlQ6pziVp/giphy.gif);
      background-size: cover;
      background-position: center;
    }

    .preview__card--links {
      padding: 10px 0 0 15px;

      .preview__card--icon {
        // display: inline-block;
        font-size: 18px;
        color: $colorLogo;
        border: 2px solid $colorPaletteOne3;
        border-radius: 50px;
        background-color: transparent;
        width: 32px;
        height: 32px;
        margin: 5px;
      }
    }
  }

  @include forTablet {
    width: 50vw;
    height: 100vh;
  }

  @include forPc {
    width: 60vw;
  }
}
.hidden {
  opacity: 0.3;
}
.fixed {
  @include forTablet{
    position: fixed;
    top: 308px;
    }
}
.fixed__mobile {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 2;
  transform: scalez(0.9);
}



// Extraemos sólo las propiedades que van a cambiar con cada input, en este caso los colores de Title, Preview Style e Icons.


.page__preview {

  .preview__card--box--palette2 {
    .preview__card--header {
      h2 {
        color: $colorPaletteTwo1;
      }

      .preview__style--color {
        background-color: $colorPaletteTwo2;
      }
    }

    .preview__card--links {
      .preview__card--icon {
        border: 2px solid $colorPaletteTwo3;
      }
    }
  }


  .preview__card--box--palette3 {
    .preview__card--header {
      h2 {
        color: $colorPaletteThree1;
      }

      .preview__style--color {
        background-color: $colorPaletteThree2;
      }
    }

    .preview__card--links {
      .preview__card--icon {
        border: 2px solid $colorPaletteThree3;
      }
    }
  }


  .preview__card--box--palette4 {
    .preview__card--header {
      h2 {
        color: $colorPaletteFour1;
      }

      .preview__style--color {
        background-color: $colorPaletteFour2;
      }
    }

    .preview__card--links {
      .preview__card--icon {
        border: 2px solid $colorPaletteFour3;
      }
    }
  }
}