$mainFont: 'Open Sans', ;
$previewFont: 'Montserrat', ;

$fontLandingTitle: 'Merriweather';
$fontBody: 'Open Sans';
$fontTitle: 'Montserrat';
$colorLogo: #114e4e;
$colorBody: #54585a;
$colorFooter: #6b6b6b;

