.logo__container {
    position: relative;
  
  /* .logo__4loop--letter {
    position: absolute;
    right: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
  } */
}

.page__preview {
    background-color: $colorIcons;
}
