/* Style the panel container of the buttons*/
.panel {
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;

  @include forTablet {
    width: 70%;
  }
  i {
    color: $colorIcons;
    padding-right: 10px;
  }
  button {
    border: none;
  }
  button::-moz-focus-inner {
    border: 0;
  }
  &__coll {
    margin: 0px 0px 20px 0px;
    color: $colorBody;
    text-transform: uppercase;
    cursor: pointer;
    padding: 20px;
    border-bottom: 0.25px solid #d8d8d8;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-family: $fontBody;
    font-weight: 600;
    background-color: transparent;

    @include forTablet {
      margin-bottom: 20px;
      padding: 20px 30px 20px 40px;
    }
  }
  &__content {
    padding: 0 18px;
    margin: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @include forTablet {
      margin: 0px;
      padding: 0px;
    }
  }
}
.panel__content--design {
  display: inherit;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.panel__coll:hover {
  background-image: $colorBackgroundImage;
}
.panel__coll:after {
  font-family: 'Material Icons';
  content: "\e316";
  transform: rotate(180deg);
  transition: all 0.1s;
  color: $colorBody;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active:after {
  transform: scale(1);
  transition: all 0.8s;
}
